<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title p-b-45">
                  <img src="assets/images/logo.png" class="img-fluid m-b-20" style="width: 100px;" />
                  <br>
          Reset Password
        </span>
                <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
                <span class="error-subheader2 p-t-20 p-b-15">
          Enter your registered msp.
        </span>
                <div class="form-group mb-5">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>MSP</mat-label>
                        <input mask="00000" matInput type="text" matInput formControlName="username" required>
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="loginForm.get('username').hasError('required')">
                            MSP is required
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('username').hasError('pattern')">
                            5 Digit MSP required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="container-login100-form-btn">
                    <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
            Reset My Password
          </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
                <div class="w-full p-t-25 text-center">
                    <div>
                        <a routerLink="/authentication/signin" class="txt1">
              Login?
            </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>