<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Admin Management</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/doctor/list-all">
                                <i class="fas fa-home"></i> Admin List</a>
                        </li>

                        <li class="breadcrumb-item active">Add New</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix text-capitalize">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="card ">
                    <div class="header">
                        <h2>Reset Password
                        </h2>
                    </div>
                    <div class="body Appiontment-detail">
                        <form class="m-4" [formGroup]="resetForm" (ngSubmit)="onSubmit()">




                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input type="password" matInput formControlName="password" required>
                                        <mat-error *ngIf="resetForm.get('password').hasError('required')">
                                            Password is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Repeat Password</mat-label>
                                        <input type="password" matInput formControlName="rpassword" required>
                                        <mat-error *ngIf="resetForm.get('rpassword').hasError('requied')">
                                            Repeat Password can not be empty
                                        </mat-error>
                                        <mat-error *ngIf="resetForm.get('rpassword').hasError('equalTo')">
                                            Does not match Password
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 ">
                                    <div class="container-login100-form-btn">
                                        <button mat-flat-button color="success" class="login100-form-btn" type="submit">
                       Update
                      </button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>